ion-content {
  --background: url("/assets/img/bg.jpg") no-repeat center center / cover;
}

.user,
.pass {
  margin-bottom: 15px;
}

ion-button {
  --background: #ffb800;
  --border-radius: 6px;
  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  --padding-top: 10px;
  --padding-bottom: 10px;
  --text-align: center;
  width: 100%;
}

.boton-adm {
  border-radius: 6px;
  box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.admin {
  text-align: center;
}

.login {
  text-align: center;
  margin-bottom: 20px;
}

ion-toggle {
  --border-radius: 6px;
  --box-shadow: 0 2px 6px 0 rgb(255, 255, 255);
}

.recuerdame {
  text-align: right;
  padding-right: 10px;
}

.mensaje {
  background: rgba(255, 1, 1, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  padding: 15px;
  text-align: center;
  margin-top: 20px;
  margin: 20px;
  color: rgb(253, 253, 253);
}

.mensaje.show {
  display: block;
}

h1{
    font-size: 25px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    line-height: 25px;
    padding-bottom: 15px;
}

ion-card {
  background: rgba(0, 0, 0, 0.466);
  border-radius: 10px;
  box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  position: relative;
}

ion-list {
  padding: 10px;
  /*background-color: #1A1A1A;*/
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
  border-radius: 10px;
}

ion-input {
  --background: #ffffff;
  --border-radius: 6px;
  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  --padding-top: 10px;
  --padding-bottom: 10px;
  --text-align: start;
  width: calc(100% - 20px);
  margin: 0 auto;
  height: 40px;
}

ion-toggle {
  --border-radius: 6px;
  --box-shadow: 0 2px 6px 0 rgb(255, 255, 255);
  --padding-top: 10px;
  --padding-bottom: 10px;
  --text-align: center;
}

#container {
  margin: 60px auto;
  max-width: 500px;
}

ion-card-content {
  background: rgba(0, 0, 0, 0);
}
