ion-content {
  --background: url("/assets/img/bg.jpg") no-repeat center center / cover;
  
}
ion-content {
  --background: url("/assets/img/bg.jpg") no-repeat center center / cover;
  transition: transform 0.5s ease-in-out; /* Opcional: para la suavidad */
}


.user{
  padding: 10px;
}

.pass{
  padding: 10px;
}

ion-button {
  --background: #FFB800;
  --border-radius: 6px;
  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  --padding-top: 10px;
  --padding-bottom: 10px;
  --text-align: center;
}



.login{
  text-align: center;
}

ion-list{
  padding: 10px;
  background-color: #1A1A1A;
  align-items: center;
  border-radius: 10px;
}

ion-toggle{
  background-color: #1A1A1A;
}

.recuerdame{
  text-align: right;
  padding-right: 10px;
}

.mensaje{
  padding: 20px;
  text-align: center;
}

ion-card{
  background-color:#1A1A1A;
  
}

#container{
  justify-items: center;
  position:fixed;
  margin: 60px
}