ion-header {
    --background: rgba(255, 255, 255, 0); /* Fondo transparente */
    --backdrop-opacity: 0; /* Ajusta la opacidad del fondo */
  }
  
  ion-toolbar {
    --background: rgba(255, 255, 255, 0); /* Fondo del toolbar transparente */
    --box-shadow: none; /* Opcional: elimina la sombra del toolbar si no es deseada */
  }
  
  ion-title {
    color: #000; /* Ajusta el color del texto del título si es necesario */
  }
  