<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="./assets/img/Logo_DuocUC.svg.png" alt="Logo">
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
      <ion-card-content justify="center">
        <div class="login">
          <ion-icon size="large" name="person-circle-outline"></ion-icon>
        </div>

        <ion-list>
          <div class="user">
            <ion-input [(ngModel)]="user.username" label="Usuario" label-placement="floating" fill="outline"
              placeholder="Ingrese su usuario"></ion-input>
          </div>

          <div class="correo">
            <ion-input [(ngModel)]="user.email" label="Correo" label-placement="floating" fill="outline"
              placeholder="Ingrese su correo"></ion-input>
          </div>

          <div class="pass">
            <ion-input label="Contraseña" label-placement="floating" fill="outline" [(ngModel)]="user.password"
              type="password" placeholder="Ingrese su contraseña"></ion-input>
          </div>

          <div class="boton" style="text-align:center">
            <ion-button id="boton" (click)="validarRegistro()">Registrarse</ion-button><br>
            <ion-loading trigger="boton" message="Loading..." [duration]="1000" spinner="circles"></ion-loading>
          </div>

          <div style="text-align:center; margin-top: 10px;">
            <p *ngIf="mensaje">{{ mensaje }}</p> 
          </div>

        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</ion-content>