<ion-header>
  <ion-toolbar>
    <ion-title>Registra tu asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <!-- Bienvenida -->
    <div class="welcome-section">
      <h2>Bienvenido/a, {{ username }}</h2>
      <h3>Registra tu asistencia escaneando el QR que tu profesor proyectará</h3>
    </div>

    <!-- Botón de Escaneo y envío de mail -->
    <div class="scanner-section">
      <ion-button expand="block" shape="round" class="scanner-button" (click)="openBarcodeScanner()">
        Escanear Código QR
      </ion-button>

      <ion-button (click)="enviarEmail()" expand="block" shape="round" class="scanner-button">Enviar Email</ion-button>
    </div>

    <div>
      <ion-button (click)="registrarAsistencia()" expand="block" shape="round" class="scanner-button">Registrar Asistencia</ion-button>
    </div>

    <!-- Resultado del Escáner -->
    <ion-item class="result-section" *ngIf="scanResult">
      <ion-label>
        <p class="result-title">Resultado del Escáner</p>
        <div class="result-content">{{ scanResult }}</div>
      </ion-label>
    </ion-item>
  </div>
</ion-content>
