<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>


<div class="container">
<ion-content [fullscreen]="true">
 
  
  <ion-card>
    <ion-card-content>
      <h1>¿Olvidaste tu contraseña?</h1>
    <h2>Ingresa tu usuario y te la recordaremos</h2>
      <ion-list>
          <ion-input
            label="Usuario"
            label-placement="floating"
            fill="outline"
            [(ngModel)]="username"
            placeholder="Ingrese su usuario"></ion-input>
        <div class="boton" style="text-align: center">
          <ion-button (click)="recuperarContrasena()">Mostrar contraseña</ion-button><br />
        </div>

        <div *ngIf="mensaje" style="color: red; text-align: center">
          {{ mensaje }}
        </div>
        <div *ngIf="password" style="text-align: center; color: green">
          Su contraseña es: {{ password }}
        </div>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
