<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="medium">Recuperar</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card-content>
      <ion-list>
        <div class="user">
          <ion-input
            label="Usuario"
            label-placement="floating"
            fill="outline"
            [(ngModel)]="username"
            placeholder="Ingrese su usuario"
          ></ion-input>
        </div>

        <div class="boton" style="text-align: center">
          <ion-button (click)="recuperarContrasena()">mostrar contraseña</ion-button><br />
          <ion-button (click)="volverAlInicio()">Volver al Inicio</ion-button>
        </div>

        <div *ngIf="mensaje" style="color: red; text-align: center">
          {{ mensaje }}
        </div>
        <div *ngIf="password" style="text-align: center; color: green">
          Su contraseña es: {{ password }}
        </div>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>